@model IEnumerable<ZarzadzanieTaskami.Models.Komentarz>

@{
    ViewData["Title"] = "Index";
}

<h1>Komentarze</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Napisz nowy komentarz</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Treść komentarza
            </th>
            <th>
                Zadanie
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tresc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Task.Opis)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.KomentarzId" class="btn btn-secondary">Edytuj</a>
                    <a asp-action="Details" asp-route-id="@item.KomentarzId" class="btn btn-info">Szczegóły</a>|
                    <a asp-action="Delete" asp-route-id="@item.KomentarzId" class="btn btn-danger">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
