@model ZarzadzanieTaskami.Models.ProjectTask

@{
    ViewData["Title"] = "Szczegóły zadania";
}

<h1>Szczegóły zadania</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Opis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Opis)
        </dd>
        <dt class = "col-sm-2">
            Status
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CzyZakonczony)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Projekt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Projekt.Nazwa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TaskId">Edytuj</a> |
    <a asp-action="Index">wróć do listy</a>
</div>
