@model IEnumerable<ZarzadzanieTaskami.Models.Projekt>

@{
    ViewData["Title"] = "Projekty";
}

<h1>Obecne oraz przeszłe projekty</h1>

<p>
    <a asp-controller="Projekts" asp-action="Create" class="btn btn-primary">Stwórz nowy projekt</a>
</p>
@foreach (var projekt in Model)
{
    <h2>@Html.DisplayFor(modelItem => projekt.Nazwa)</h2>
    <p>
        <a asp-controller="Projekts" asp-action="Edit" asp-route-id="@projekt.ProjektId" class="btn btn-secondary">Edytuj</a> |
        <a asp-action="Details" asp-route-id="@projekt.ProjektId" class="btn btn-info">Szczegóły</a> |
        <a asp-action="Delete" asp-route-id="@projekt.ProjektId" class="btn btn-danger">Usuń</a>
    </p>

    if (projekt.Tasks != null && projekt.Tasks.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Opis zadania</th>
                    <th>Status</th>
                    <th>Akcja</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var task in projekt.Tasks)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => task.Opis)</td>
                        <td>@Html.DisplayFor(modelItem => task.CzyZakonczony)</td>
                        <td>
                            <a asp-action="Edit" asp-controller="Tasks" asp-route-id="@task.TaskId" class="btn btn-secondary">Edytuj</a> |
                            <a asp-action="Details" asp-controller="Tasks" asp-route-id="@task.TaskId" class="btn btn-info">Szczegóły</a> |
                            <form asp-action="DeleteConfirmed" asp-controller="Tasks" method="post" class="d-inline">
                                <input type="hidden" name="id" value="@task.TaskId" />
                                <input type="submit" value="Usuń" class="btn btn-danger" onclick="return confirm('Jesteś pewny że chcesz usunąć?');" />
                            </form>
                        </td>
                    </tr>
                    @if (task.Komentarze != null && task.Komentarze.Any())
                    {
                        <tr>
                            <td colspan="3">
                                <strong>Komentarze:</strong>
                                <ul>
                                    @foreach (var komentarz in task.Komentarze)
                                    {
                                        <li>@Html.DisplayFor(modelItem => komentarz.Tresc)</li>
                                    }
                                </ul>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
}
